@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities{
     .font-dmsans {
    font-family: "DM Sans", sans-serif;
  }
  .font-syne {
    font-family: "Syne", sans-serif;
  }
  
   .text-primary {
    color: #C8F400;
  }
   .bg-secondary {
    background-color: #C8F400;
  }

  .text-white {
    color: #ffffff;
  }
  .text-dark{
    color: #0D0D0D;
  }
  .bg-primary{
    background-color: #0D0D0D;
  }
  .bg-muted{
    background-color: #191919;
  }

  .text-muted {
    color: #A4A4A4;
  }
}
test{
    color: #e8fc93
}